<a href="https://colab.research.google.com/github/tonyjan02/soccerdb/blob/main/pre_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### CIS 550 Pre-Processing

# Set-Up: Imports with Kaggle

In [ ]:
# importing necessary libraries
import json
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import cm
from google.colab import drive
from sklearn.model_selection import train_test_split

In [ ]:
!apt update

Get:1 http://security.ubuntu.com/ubuntu focal-security InRelease [114 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu focal-cran40/ InRelease [3,622 B]
Get:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  InRelease [1,581 B]
Hit:4 http://archive.ubuntu.com/ubuntu focal InRelease
Hit:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal InRelease
Get:6 http://archive.ubuntu.com/ubuntu focal-updates InRelease [114 kB]
Get:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  Packages [1,011 kB]
Get:8 http://archive.ubuntu.com/ubuntu focal-backports InRelease [108 kB]
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu focal InRelease
Get:10 http://security.ubuntu.com/ubuntu focal-security/restricted amd64 Packages [2,345 kB]
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu focal InRelease
Get:12 http://archive.ubuntu.com/ubuntu focal-updates/universe amd64 Packages [1,351 kB]
Get:13 http://security.ubuntu.com/ubuntu focal-security/main amd64 Packages [2,772 kB]
Get:14 http://security.ubuntu.com/ubuntu focal-security/universe amd64 Packages [1,056 kB]
Get:15 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 Packages [3,252 kB]
Hit:16 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu focal InRelease
Hit:17 http://ppa.launchpad.net/ubuntugis/ppa/ubuntu focal InRelease
Fetched 12.1 MB in 1s (8,628 kB/s)
Reading package lists... Done
Building dependency tree
Reading state information... Done
38 packages can be upgraded. Run 'apt list --upgradable' to see them.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.5.13)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from kaggle) (2022.12.7)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.27.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.26.15)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.4)

In [ ]:
!mkdir ~/.kaggle

In [ ]:
!cp /content/drive/MyDrive/kaggle.json ~/.kaggle/

In [ ]:
!kaggle datasets download -d davidcariboo/player-scores

Downloading player-scores.zip to /content
 95% 41.0M/43.1M [00:01<00:00, 32.2MB/s]
100% 43.1M/43.1M [00:01<00:00, 38.8MB/s]

In [ ]:
!unzip /content/player-scores.zip

Archive:  /content/player-scores.zip
  inflating: appearances.csv
  inflating: club_games.csv
  inflating: clubs.csv
  inflating: competitions.csv
  inflating: game_events.csv
  inflating: games.csv
  inflating: player_valuations.csv
  inflating: players.csv

# Cleaning Players Dataset

In [ ]:
players_df = pd.read_csv("players.csv")

In [ ]:
players_df.columns

Index(['player_id', 'first_name', 'last_name', 'name', 'last_season',
       'current_club_id', 'player_code', 'country_of_birth', 'city_of_birth',
       'country_of_citizenship', 'date_of_birth', 'sub_position', 'position',
       'foot', 'height_in_cm', 'market_value_in_eur',
       'highest_market_value_in_eur', 'contract_expiration_date', 'agent_name',
       'image_url', 'url', 'current_club_domestic_competition_id',
       'current_club_name'],
      dtype='object')

In [ ]:
players_df = players_df.drop(columns=["current_club_name", "country_of_birth", "city_of_birth", "position", "agent_name", "contract_expiration_date", "current_club_domestic_competition_id", "url", "player_code", "first_name", "last_name"])

In [ ]:
players_df = players_df.rename(columns={"name": "player_name", "current_club_id": "club_id", "country_of_citizenship": "country", "sub_position": "position"})
len(players_df.index) # pre-drop

28462

In [ ]:
players_df = players_df.dropna(subset=["player_id", "player_name"])
len(players_df.index) # post-drop, no null values for core attributes

28462

In [ ]:
players_df

,player_id,player_name,last_season,club_id,country,date_of_birth,position,foot,height_in_cm,market_value_in_eur,highest_market_value_in_eur,image_url
0,597,Aleksandr Hleb,2016,2696,Belarus,1981-05-01,Attacking Midfield,NaN,NaN,NaN,19000000.0,https://img.a.transfermarkt.technology/portrai...
1,1428,Mike Hanke,2013,60,Germany,1983-11-05,Centre-Forward,right,185.0,NaN,5000000.0,https://img.a.transfermarkt.technology/portrai...
2,1560,Youssef El Akchaoui,2012,306,Morocco,1981-02-18,Left-Back,NaN,NaN,NaN,1750000.0,https://img.a.transfermarkt.technology/portrai...
3,1587,Mario Eggimann,2012,42,Switzerland,NaN,Centre-Back,right,190.0,NaN,3000000.0,https://img.a.transfermarkt.technology/portrai...
4,1726,Heiko Westermann,2016,610,Germany,1983-08-14,Centre-Back,right,190.0,NaN,9000000.0,https://img.a.transfermarkt.technology/portrai...
...,...,...,...,...,...,...,...,...,...,...,...,...
28457,199337,Rifat Erdem,2013,2293,Turkey,1990-02-28,Right-Back,right,NaN,NaN,100000.0,https://img.a.transfermarkt.technology/portrai...
28458,209569,Mücahit Atalay,2020,2293,Turkey,1991-10-26,Goalkeeper,right,186.0,NaN,250000.0,https://img.a.transfermarkt.technology/portrai...
28459,221118,Patrick Friday Eze,2017,2293,Nigeria,1992-12-22,Centre-Forward,right,187.0,200000.0,775000.0,https://img.a.transfermarkt.technology/portrai...
28460,273053,Burak Saban,2018,2293,Netherlands,1994-04-20,Right Winger,both,177.0,NaN,200000.0,https://img.a.transfermarkt.technology/portrai...
28461,621911,Ekrem Kayilibal,2021,2293,Turkey,1999-09-22,Right Winger,both,176.0,50000.0,100000.0,https://img.a.transfermarkt.technology/portrai...

# Cleaning Clubs Dataset

In [ ]:
clubs_df = pd.read_csv("clubs.csv")
competitions_df = pd.read_csv("competitions.csv")
# Get the minimum and maximum values in a column
column_min = clubs_df['club_id'].min()
column_max = clubs_df['club_id'].max()

# Print the range of values
print("Range of values in 'column_name':", column_min, "to", column_max)

Range of values in 'column_name': 3 to 83678

In [ ]:
clubs_df.columns

Index(['club_id', 'club_code', 'name', 'domestic_competition_id',
       'total_market_value', 'squad_size', 'average_age', 'foreigners_number',
       'foreigners_percentage', 'national_team_players', 'stadium_name',
       'stadium_seats', 'net_transfer_record', 'coach_name', 'last_season',
       'url'],
      dtype='object')

In [ ]:
clubs_df = clubs_df.drop(columns=["club_code", "total_market_value", "coach_name", "last_season", "foreigners_number", "net_transfer_record", "url"])

In [ ]:
clubs_df = clubs_df.rename(columns={"name": "club_name"})
len(clubs_df.index) # pre-drop

411

In [ ]:
clubs_df = clubs_df.dropna(subset=["club_id", "club_name"])
clubs_df = clubs_df.merge(competitions_df[['competition_id', 'name']], 
                           left_on='domestic_competition_id',
                           right_on='competition_id',
                           how='left')

clubs_df = clubs_df.drop(['domestic_competition_id', 'competition_id'], axis=1)
clubs_df = clubs_df.rename(columns={'name': 'domestic_competition'})

len(clubs_df.index) # post-drop, no null values for core attributes

411

In [ ]:
clubs_df = clubs_df.sort_values('club_id')
clubs_df

,club_id,club_name,squad_size,average_age,foreigners_percentage,national_team_players,stadium_name,stadium_seats,domestic_competition
167,3,1.FC Köln,34,24.7,32.4,7,RheinEnergieSTADION,50000,bundesliga
380,4,1.FC Nuremberg,33,25.2,21.2,2,Max-Morlock-Stadion,50000,bundesliga
311,5,AC Milan,30,27.0,80.0,19,Giuseppe Meazza,75923,serie-a
49,6,Adanaspor,10,23.9,40.0,0,Yeni Adana Stadyumu,33000,super-lig
234,10,Arminia Bielefeld,27,25.3,55.6,4,SchücoArena,26515,bundesliga
...,...,...,...,...,...,...,...,...,...
152,60551,SK Dnipro-1,29,26.0,31.0,6,Avangard,10640,premier-liga
282,60949,Volos NPS,26,26.4,61.5,2,Panthessaliko Stadio,22700,super-league-1
337,61825,FK Minaj,25,26.0,4.0,0,Stadion Minaj,2000,premier-liga
229,68608,CF Os Belenenses,30,25.7,16.7,0,Estádio do Restelo,19980,liga-portugal-bwin
387,83678,Metalist Kharkiv,26,25.4,15.4,0,Avangard,10640,premier-liga

# Cleaning Games Dataset

In [ ]:
games_df = pd.read_csv("games.csv")
# Get the minimum and maximum values in a column
column_min = games_df['home_club_id'].min()
column_max = games_df['home_club_id'].max()

# Print the range of values
print("Range of values in 'column_name':", column_min, "to", column_max)

Range of values in 'column_name': 1 to 102251

In [ ]:
games_df.columns

Index(['game_id', 'competition_id', 'season', 'round', 'date', 'home_club_id',
       'away_club_id', 'home_club_goals', 'away_club_goals',
       'home_club_position', 'away_club_position', 'home_club_manager_name',
       'away_club_manager_name', 'stadium', 'attendance', 'referee', 'url',
       'home_club_name', 'away_club_name', 'aggregate', 'competition_type'],
      dtype='object')

In [ ]:
games_df = games_df.drop(columns=["competition_type", "home_club_position", "away_club_position", "home_club_name", "away_club_name",
       "home_club_manager_name", "away_club_manager_name", "attendance", "referee", "url", "aggregate"])
len(games_df) # pre-drop

62079

In [ ]:
games_df = games_df.dropna(subset=["game_id", "home_club_id", "away_club_id", "date", "round"])
games_df = games_df.rename(columns={"date": "game_date"})
# Replace non-finite values with a default value (e.g., 0)
games_df['home_club_goals'] = games_df['home_club_goals'].fillna(0)
games_df['away_club_goals'] = games_df['away_club_goals'].fillna(0)

# Convert the columns to integers
games_df['home_club_goals'] = games_df['home_club_goals'].astype(int)
games_df['away_club_goals'] = games_df['away_club_goals'].astype(int)

len(games_df) # post-drop, no null values for core attributes

62079

In [ ]:
games_df

,game_id,competition_id,season,round,game_date,home_club_id,away_club_id,home_club_goals,away_club_goals,stadium
0,2222539,L1,2012,1. Matchday,2012-08-25,60,39,1,1,Dreisamstadion
1,2222541,L1,2012,1. Matchday,2012-08-25,41,4,0,1,Volksparkstadion
2,2222542,L1,2012,1. Matchday,2012-08-25,24,15,2,1,Commerzbank Arena
3,2222595,RU1,2012,3. Matchday,2012-08-05,2700,4128,1,0,Dinamo
4,2222636,RU1,2012,4. Matchday,2012-08-12,1083,2696,1,2,Olimp-2
...,...,...,...,...,...,...,...,...,...,...
62074,3912539,EL,2022,Group A,2022-09-08,383,501,1,1,Philips Stadion
62075,2629035,NLP,2015,Third Round,2015-10-27,383,16866,6,0,Philips Stadion
62076,3097403,NLP,2018,First Round,2018-09-27,200,384,2,0,"Stadion ""Galgenwaard"""
62077,3252469,EL,2019,Group D,2019-10-24,383,413,0,0,Philips Stadion
62078,3641292,CIT,2021,First Round,2021-08-16,1025,1103,4,5,Stadio Renato Dall’Ara

# Cleaning Appearances Dataset

In [ ]:
appearances_df = pd.read_csv("appearances.csv")

In [ ]:
appearances_df.columns

Index(['appearance_id', 'game_id', 'player_id', 'player_club_id',
       'player_current_club_id', 'date', 'player_name', 'competition_id',
       'yellow_cards', 'red_cards', 'goals', 'assists', 'minutes_played'],
      dtype='object')

In [ ]:
appearances_df = appearances_df.drop(columns=["date", "appearance_id", "player_name", "player_current_club_id", "competition_id"])
len(appearances_df) # pre-drop

1170381

In [ ]:
appearances_df = appearances_df.dropna(subset=["game_id", "player_id", "player_club_id"])
len(appearances_df) # post-drop, some null values for core attributes

1170381

In [ ]:
appearances_df

,game_id,player_id,player_club_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2460589,237947,11411,0,0,0,0,90
1,2460503,150846,4807,0,0,0,0,67
2,2460507,136142,271,0,0,0,0,80
3,2460508,153735,18506,0,0,1,0,90
4,2460509,27017,10482,0,0,0,0,90
...,...,...,...,...,...,...,...,...
1170376,4056369,74081,41231,0,0,0,0,54
1170377,4056369,793509,49702,0,0,0,0,90
1170378,4056369,810570,41231,0,0,0,0,31
1170379,4056369,951293,41231,0,0,0,0,31
1170380,4056369,97541,41231,0,0,0,0,90

# Export Tables for DB

In [ ]:
# export tables
players_df.to_csv('players_cleaned.csv')
clubs_df.to_csv('clubs_cleaned.csv')
games_df.to_csv('games_cleaned.csv')
appearances_df.to_csv('appearances_cleaned.csv')